

* {
    margin: 0;
    padding: 0;
}
left-content{
    position: absolute;
    left: 0;
    top: 50px;
    width: 50%;
    height: 100%;
    text-align:center;
}
right-content{
    position: absolute;
    right: 0;
    top: 50px;
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
}

iframe {
    position: relative;
    right: 0px;
    margin-left:auto; 
    margin-right:auto;
    left: 20%;
    top: 20px;
    
}

table {
    position: relative;
    top: 20px;
    width: 50%;
    margin: 5px;
    border: 1px solid black;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}

table tbody tr th{
    border: 1px solid black;
}
table tbody tr td{
    border: 1px solid black;
}
table tbody{
    border: 1px solid black;
}
sokefelt{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid black;
}
sokeboks{
    position: absolute;
    right: 50%;
    top: 15px;
}

input[type=text] {
    width: 200px;
    height: 24px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

#map {
    height: 400px;
    width: 400px;
}