

* {
    margin: 0;
    padding: 0;
}

iframe {
    position: absolute;
    right: 0;
}

table {
    position: absolute;
    width: 50%;
    color: blue;
}

table tbody tr th{
    border: 1px solid black;
}
table tbody tr td{
    border: 1px solid black;
}
table tbody{
    border: 1px solid black;
}
